@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root{
  --font-family-italic: 'Roboto', sans-serif
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('./assets/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

@theme{
  --font-roboto-italic: RobotoItalic;
  --font-roboto-regular: Roboto;
  --font-roboto-light:RobotoLight

}
  /* :root{
    --primary-color:#12201A;
    --cta-color:#A8F0D0;
    --text-secondary:#E2E8F0;
    --border:#6a7c74;
    --fill: #2A3731;
    --text-descrption:#94A3B8;
    --cta-fill:#a8f0d01a;
    --cta-fill-2:rgba(168, 240, 208, 0.1);
    --transparent-fill:rgba(0, 0, 0, 0.4);
    --card-fill:#4c6b5e;
    --asset-description-fill:rgba(30, 41, 59, 1);
    --table-border:#c1cdc8;
    --transparent-fill-2:rgba(0, 0, 0, 0.7);
   
  }

@theme{
  --color-background:var(--primary-color);
  --color-border:var(--border);
  --color-secondary-text:var(--text-secondary);
  --color-fill:var(--fill);
  --color-description-text:var(--text-descrption);
  --color-cta-text:var(--cta-color);
  --color-cta-fill:var(--cta-fill);
  --color-transparent-fill:var(--transparent-fill);
  --color-card-fill:var(--card-fill);
  --color-response-fill:var(--fill);
  --color-message-fill:var(--cta-fill);
  --color-asset-description-fill:var(--asset-description-fill);
  --color-cta-fill-2:var(--cta-fill-2);
  --color-table-border:var(--table-border);
   --color-transparent-fill-play:var(--transparent-fill-2);
} */